@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 3s linear infinite;
}

@keyframes border-flow {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.animate-border-flow {
  position: relative;
}

.animate-border-flow::before,
.animate-border-flow::after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: var(--border-gradient);
  background-size: 400%;
  background-position: 0 0;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: 0;
  border-radius: 0.75rem;
  animation: border-flow 20s linear infinite;
  will-change: background-position;
  filter: saturate(0.7);
}

.animate-border-flow > * {
  position: relative;
  z-index: 1;
}

.animate-border-flow::after {
  filter: blur(8px) saturate(0.7);
  opacity: 0.7;
}

@keyframes border-spin {
  100% {
    transform: rotate(-360deg);
  }
}

.animate-border-glow {
  position: relative;
}

.animate-border-glow .card-wrapper {
  position: relative;
  height: 100%;
}

.animate-border-glow .card-wrapper::before {
  content: '';
  position: absolute;
  left: -25%;
  top: -25%;
  height: 150%;
  width: 150%;
  background: conic-gradient(
    var(--border-color) 0deg,
    var(--border-color) 0deg,
    transparent 40deg
  );
  animation: border-spin 5s linear infinite;
  z-index: 0;
  border-radius: 0.75rem;
  filter: blur(12px);
  opacity: 1;
}

.animate-border-glow .card-wrapper::after {
  content: '';
  position: absolute;
  left: -25%;
  top: -25%;
  height: 150%;
  width: 150%;
  background: conic-gradient(
    var(--border-color) 0deg,
    var(--border-color) 0deg,
    transparent 40deg
  );
  animation: border-spin 5s linear infinite;
  z-index: 0;
  border-radius: 0.75rem;
  opacity: 1;
  filter: blur(4px);
}

.animate-border-glow .inner {
  position: relative;
  z-index: 1;
}
